<style>
<!--
fieldset{
	display: inline;
}
-->
</style>

<div>
	
	<br/>
<form novalidate name="frmPj">

	<div>
	<label>Nome : </label>
		<input type="text" name="txtNome" data-ng-model="pj.nome" required />
		<span data-ng-show="frmPj.txtNome.$error.required && frmPj.txtEmail.$dirty">Campo Nome Obrigatorio</span>
	</div>
	<div>
	<label>E-mail:</label>
		<input type="email" name="txtEmail" data-ng-model="pj.email" required />
		<span data-ng-show="frmPj.txtEmail.$error.required && frmPj.txtEmail.$dirty">Campo Email Obrigatorio</span>
	</div>
	<div>
	<label>Senha : </label>
		<input type="text" name="txtSenha" data-ng-model="pj.senha" required />
		<span data-ng-show="frmPj.txtSenha.$error.required && frmPj.txtNome.$dirty">Campo senha Obrigatorio</span>
	</div>
	<div>
	<label>Cpf:</label>
		<input type="text" name="txtCpf" data-ng-model="pj.cpf" required />
		<span data-ng-show="frmPj.txtCpf.$error.required && frmPj.txtNome.$dirty">Campo cpf Obrigatorio</span>
	</div>
	<div>
	<label>Razão Social : </label>
		<input type="text" name="txtRazaoSocial" data-ng-model="pj.razaoSocial" required />
		<span data-ng-show="frmPj.txtRazaoSocial.$error.required && frmPj.txtNome.$dirty">Campo razão social Obrigatorio</span>
	</div>
	<div>
	<label>Cnpj:</label>
		<input type="text" name="txtCnpj" data-ng-model="pj.cnpj" required />
		<span data-ng-show="frmPj.txtCnpj.$error.required && frmPj.txtNome.$dirty">Campo cnpj Obrigatorio</span>
	</div>
	<br></br>
	<input type="button" value="Salvar" data-ng-click="salvarPj()" data-ng-disabled="frmPj.$invalid" />
	<input type="button" value="Cancelar" data-ng-click="cancelarAlterarPj()" data-ng-disabled="frmPj.$invalid"/>
	
	<br/>
	<div>
	
	
		<fieldset>
		<legend>Formulário</legend>
			Valid: {{frmPj.$valid}}		
		</fieldset>
		
		<fieldset>
			<legend>Nome</legend>
			//Está Valido???
			Valid: {{frmPj.txtNome.$valid}} 
			Invalid: {{frmPj.txtNome.$invalid}} //Não está valido???
			Pristine: {{frmPj.txtNome.$pristine}} //Já foi usado???
			Dirty: {{frmPj.txtNome.$dirty}} // Já foi sujo, usado???
			Touched: {{frmPj.txtNome.$touched}} //Se já foi passado por ele
		</fieldset>
	</div>
</form>
<br/>
	<!--  <div data-ng-repeat="pj in pessoajuridica">
		{{pj.id +" " +pj.nome}} 
		<input type="button" value="Excluir" data-ng-click="excluirPj(pj)" /> 
		<input type="button" value="Alterar" data-ng-click="alterarPj(pj)" />
		<a href = "pessoajuridica/{{pj.id}}">Detalhe</a>

	</div>-->

</div>