<div id = "lancamento">
	
<form novalidate name="frmLancamento">

	<div>
		<input type="datetime-local" placeholder="Data" name="txtData" data-ng-model="lancamento.data" required />
		<span data-ng-show="frmLancamento.txtData.$error.required && frmLancamento.txtTipo.$dirty">Campo data Obrigatorio</span>
	</div>
	<div>
		<input type="text" placeholder="Tipo" name="txtTipo" data-ng-model="lancamento.tipo" required />
		<span data-ng-show="frmLancamento.txtTipo.$error.required && frmLancamento.txtData.$dirty ">Campo tipo Obrigatorio</span>
	</div>
	<div>
		<input type="text" placeholder="Descrição" name="txtDescricao" data-ng-model="lancamento.descricao" required />
		<span data-ng-show="frmLancamento.txtDescricao.$error.required && frmLancamento.txtTipo.$dirty">Campo descricao Obrigatorio</span>
	</div>
	<div>
		<input type="text" placeholder="Localização" name="txtLocalizacao" data-ng-model="lancamento.localizacao" required />
		<span data-ng-show="frmLancamento.txtLocalizacao.$error.required && frmLancamentotxt.Data.$dirty ">Campo localizacao Obrigatorio</span>
	</div>
	<div>
		<input type="text" placeholder="Id Funcionario" name="txtFuncionarioId" data-ng-model="lancamento.funcionarioId" required />
		<span data-ng-show="frmLancamento.txtFuncionarioId.$error.required && frmLancamentotxtTipo.$dirty">Campo id funcionario Obrigatorio</span>
	</div>

	</br>
	<button type="button" value="Salvar" data-ng-click="salvarLancamento()" data-ng-disabled="frmLancamento.$invalid">Salvar</button>
	<button type="button" value="Cancelar" data-ng-click="cancelarAlterarLancamento()" data-ng-disabled="frmLancamento.$invalid">Cancelar</button>
	
	<br/>
	
	<div>	
		<fieldset>
		<legend>Formulário</legend>
			Valid: {{frmPf.$valid}}		
		</fieldset>
	</div>
</form>

	<br/>
<form novalidate name="frmPfBuscar">

	<div>
	<label>Numero funcionario:</label>
		<input type="text" name="txtLancamentoBuscar" data-ng-model="lancamentobuscar" required />
		<span data-ng-show="frmLancamentoBuscar.txtLancamentoBuscar.$error.required && frmLancamentoBuscar.txtLancamentoBuscar.$dirty">Campo id Obrigatorio</span>
	</div>	

	<button type="button" value="Buscar" data-ng-click="carregarLancamento()" data-ng-disabled="frmLancamentoBuscar.$invalid" >Buscar</button>
</form>
<br/>
	<div>
		<fieldset>
		<legend>Formulário</legend>
			Valid: {{frmLancamentoBuscar.$valid}}		
		</fieldset>
	</div>
<br/>
	<div data-ng-repeat="lanc in lancamentos">
		{{lanc.id +" " + lanc.data + " " + lanc.tipo}} 
		<input type="button" value="Excluir" data-ng-click="excluirPj(pj)" /> 
		<input type="button" value="Alterar" data-ng-click="alterarPj(pj)" />
		<a href = "lancamento/{{lanc.id}}">Detalhe</a>

	</div>
</div>