<div id = "login" >

	<div >

		<div>
			<img src="https://www.colourbox.com/preview/17743771-black-vector-icon-isolated-on-transparent-background.jpg"> 
		</div>
		<div>
			<h1>Log-in</h1>
		</div>
		<form data-ng-submit="autenticar()" >
			
			<div >
				<input type="text" placeholder="Username" data-ng-model="usuario.email"/>
			</div>
			
			<div>
				<input type="password" placeholder="password" data-ng-model="usuario.senha"/>
			</div>
			
			<div>
				<button type="submit" value="Login">Login</button>
			</div>
			
			<div id="register">
				Register | Forgot Password
			</div>
			
		</form>
		
	</div>
			Token: {{token}}
</div>