#empresa {
	font-family: sans-serif;
	background-color: #f1f1f1;
	width: 70%;
	margin: auto;
	padding: 10px;
}

#empresa h1 {
	color: gray;
	font-weight: 300;
}

#empresa div {
	text-align: center;
	padding: 5px;
}

#empresa input {
	width: 100%;
	padding: 1em 0;
}

#empresa button {
	width: 30%;
	background-color: #4242ff;
	color: white;
	padding: 10px;
}