#funcionario {
	font-family: sans-serif;
	background-color: #f1f1f1;
	width: 70%;
	margin: auto;
	padding: 10px;
}

#funcionario div {
	text-align: center;
	padding: 5px;
}

#funcionario input {
	width: 100%;
	padding: 1em 0;
}

#funcionario button {
	width: 30%;
	background-color: #4242ff;
	color: white;
	padding: 1em 0;
}