#login {
	font-family: sans-serif;
	background-color: #f1f1f1;
	width: 40%;
	margin: auto;
	padding: 10px;

}

#login h1 {
	color: gray;
	font-weight: 300;
}

#login div {
	text-align: center;
	padding: 5px;

}

#login input {
	width: 100%;
	padding: 1em 0;

}

#login button {
	width: 30%;
	background-color: #4242ff;
	color: white;
	padding: 10px;
	cursor: pointer;
}

#register {
	font-size: 10pt;
	color: darkgray;
}

#login img {
	width: 100px;
}