<!Doctype html>
<html data-ng-app="appBancoHoras">
	<head>
		<meta charset="UTF-8" />
		<title>Banco de Horas</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
		<script src="./js/app.js" ></script>
		<script src= "./js/controller/main-controller.js" ></script>
		<script src= "./js/controller/login-controller.js" ></script>
		<script src= "./js/controller/empresa-controller.js" ></script>
		<script src= "./js/controller/funcionario-controller.js" ></script>
		<script src= "./js/controller/lancamento-controller.js" ></script>
		<base href="/" />
		
		<link rel="stylesheet" type="text/css" href="./css/index.css" />
		<script language="JavaScript">
			//<![CDATA[
			function DataHora(evento, objeto){
				var keypress=(window.event)?event.keyCode:evento.which;
				campo = eval (objeto);
				if (campo.value == '00/00/0000 00:00:00')
				{
					campo.value=""
				}
			
				caracteres = '0123456789';
				separacao1 = '/';
				separacao2 = ' ';
				separacao3 = ':';
				conjunto1 = 2;
				conjunto2 = 5;
				conjunto3 = 10;
				conjunto4 = 13;
				conjunto5 = 16;
				if ((caracteres.search(String.fromCharCode (keypress))!=-1) && campo.value.length < (19))
				{
					if (campo.value.length == conjunto1 )
					campo.value = campo.value + separacao1;
					else if (campo.value.length == conjunto2)
					campo.value = campo.value + separacao1;
					else if (campo.value.length == conjunto3)
					campo.value = campo.value + separacao2;
					else if (campo.value.length == conjunto4)
					campo.value = campo.value + separacao3;
					else if (campo.value.length == conjunto5)
					campo.value = campo.value + separacao3;
				}
				else
					event.returnValue = false;
			};
			//]]>
		</script>	
				
	</head>
	<body data-ng-controller = "mainController">
		<div id="container">
			<nav class="centro" id="menu">
				<img src="./icon/round-delete-button.svg" alt="" class="menu_fechar" data-ng-click="fecharMenu()"></img>
				<h2>Menu</h2>

				<ul>
					<li><a href="/login" >Login</a></li>
					<li><a href="/funcionario" >Funcionario</a></li>
					<li><a href="/funcionarioConsulta" >Consulta Funcionario</a></li>
					<li><a href="/empresa" >Empresa</a></li>
					<li><a href="/empresaConsulta" >Consulta Empresas</a></li>
					<li><a href="/lancamento" >Lançamentos</a></li>
					<li><a href="/lancamentoConsulta" >Lançamentos consulta</a></li>
				</ul>
									
				<div>
					Path: {{$location.path()}}
				</div>
				<div>
					Template URL: {{$route.current.templateUrl}}
				</div>
			</nav>

			<div>
				<img data-ng-src="{{'/icon/menu.svg'}}" alt="" class="menu_abrir" data-ng-click="abrirMenu()"></img>
				
				<div data-ng-view = "ng-view" >
					
				</div>
			</div>
		</div>
	</body>
	<footer>

	</footer>
</html>