<!Doctype html>
<html data-ng-app="appBancoHoras">
	<head>
		<meta charset="UTF-8" />
		<title>Banco de Horas</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
		<script src="./js/app.js" ></script>
		<script src= "./js/controller/main-controller.js" ></script>
		<script src= "./js/controller/login-controller.js" ></script>
		<script src= "./js/controller/empresa-controller.js" ></script>
		<script src= "./js/controller/funcionario-controller.js" ></script>
		<script src= "./js/controller/lancamento-controller.js" ></script>
		<base href="/" />
	</head>
	<body data-ng-controller = "mainController">
		<div><h1>Acesso ao banco de horas</h1></div>
		
		<a href="/login" >Login</a>
		<a href="/funcionario" >Funcionario</a>
		<a href="/empresa" >Empresa</a>
		<a href="/lancamento" >Lançamentos</a>
		
		<br></br>
		Path: {{$location.path()}}
		<br></br>
		Template URL: {{$route.current.templateUrl}}
		<br></br>
		Parametros: {{$routeParams}}
		
		<div data-ng-view = "ng-view">
		
		</div>
		
	</body>
</html>